<div>
    <ul class="ba">
        <div class="greetings">Welcome back, <span> </span> </div>
        <li><a href="account">account</a></li>
        <li><a href onclick="mainApp.logout()" >Logout</a></li>
    </ul>
</div>