<!-- <footer class="footer">
    <div class="container main-footer-container">
        <ul class="nav footer-nav">
            <li>
                <a href="https://www.youtube.com" target="_blank">
                    <img src="Images/YouTube Logo.png">
                </a>
            </li>
            <li>
                <a href="https://www.spotify.com" target="_blank">
                    <img src="Images/Spotify Logo.png">
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com" target="_blank">
                    <img src="Images/Facebook Logo.png">
                </a>
            </li>
        </ul>
    </div>
    <div>
        © 2020 London Bridge Cafe
    </div>
</footer> -->



<footer>
    &copy;2018 Footer
</footer>