
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');
@import url("https://fonts.googleapis.com/css?family=Metal+Mania");

@font-face {
    font-family: "Booter - Zero Zero";
    src: url("Fonts/Booter - Zero Zero.woff") format("woff"),
         url("Fonts/Booter - Zero Zero.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
h1
{
    float: left;
    width: 200px;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0;
    padding: 0%;
    border: 0;
    outline: 0;
    background: transparent;
}

ul.ba {
    list-style-type: none;
    float: right;
    border: 1px solid green;
    text-align: center;
    padding: .5em 1em;
    
}

li {
    float: left;
}
.user_login li:first-child {margin-left:0;}


li:first-child:after{
    content: '|';
    margin: .6em;
}

.clear
{
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}



.band-name {
    text-align: center;
    margin: 0;
    font-size: 4em;
    font-family: "Booter - Zero Zero";
    font-weight: normal;
    color: white;
}

.band-name-large {
    font-size: 8em;
}

.content-section {
    margin: 1em;
}
img { max-width:100%; height:auto; }

/* layout */
.wrapper {margin:0 auto;width:98%;max-width:960px;}
.container {position:relative;margin:0 auto;max-width:960px;width:960px;}
.content { margin-top:2em; }



.section-header {
    font-family: "Metal Mania";
    font-weight: normal;
    color: #333;
    text-align: center;
    font-size: 2.5em;
}

.clearfix:before, .clearfix:after { display: table; content: ""; }
.clearfix:after { clear: both; }

.about-band-image {
    float: left;
    height: 200px;
    width: 200px;
    margin: 15px;
    border-radius: 50%;
}


.btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
}

.btn-header {
    margin: .5em 15% 2em 15%;
    color: white;
    border: 2px solid #2D9CDB;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 0;
    font-size: 1.5em;
    font-weight: lighter;
    padding-left: 2em;
    padding-right: 2em;
}

.btn-primary {
    color: white;
    background-color: #56CCF2;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #2D9CDB;
}

.shop-item {
    margin: 30px;
}

.shop-item-title {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: #333;
    margin-bottom: 15px;
}

.shop-item-image {
    height: 250px;
}

.shop-item-details {
    display: flex;
    align-items: center;
    padding: 5px;
}

.shop-item-price {
    flex-grow: 1;
    color: #333;
}

.shop-items {
    padding-left: 0%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* Cart */
.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
}

.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
}

/* grid layout */
* {
    box-sizing: border-box;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  [class*="col-"] {
    float: left;
    padding: 15px;
  }
  
  html {
    font-family: "Lucida Sans", sans-serif;
  }
  
  .header {
    background-color: #9933cc;
    color: #ffffff;
    padding: 15px;
  }
  
  .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: #33b5e5;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
  
  .menu li:hover {
    background-color: #0099cc;
  }
.aside {
    background-color: #33b5e5;
    padding: 15px;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }


  footer {
    grid-column: 1 / 3;
    background: #607D8B;
    padding: 5rem 1rem;
  }
  
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
  
  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 20%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    
    .col-3 {width: 25%; padding-left: 0%;} /* Categories */
    .col-4 {width: 30%;} /* Cart */
    .col-5 {width: 41.66%;}
    .col-6 {width: 45%;} /* Food section */
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }
  /* end of grid layout */
  /* order online */
  div.absolute {
    position: absolute;
    top: 80px;
    right: 0;
    width: 300px;
    height: 100px;
  }

  /* styles for registration */
  /* Add padding to containers */

  /* Full-width input fields */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Overwrite default styles of hr */
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }

  /* Set a style for the submit/register button */
.registerbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  .registerbtn:hover {
    opacity:1;
  }
  
  /* Add a blue text color to links */
  a {
    color: dodgerblue;
  }
  
  /* Set a grey background color and center the text of the "sign in" section */
  .signin {
    background-color: #f1f1f1;
    text-align: center;
  }

/* Header */

.header { position:relative; margin:0; padding:1em 0; background: url(/assets-images/header-bg.jpg) no-repeat center top; background-size:cover; }
.header h1 a { display:inline-block; }
.header h1 a img { display:block; width:150px; }

/* Login/logout top control */

.user_login { float:right; padding:.5em 1em; color:#fce620; background-color:#5c3f34; background-color:rgba(92,63,52,.83); }
.user_login a { color:#fce620; text-decoration:none; }
.user_login a:hover { color:#fff; }
.user_login li:first-child:after { content:'|'; }
.user_login .greetings span { font-weight:700; }

.header:after, .menu:after, .content:after, .content > .wrapper:after {content: "";display: block;height:0;clear:both;visibility:hidden;}

.clearfix:before, .clearfix:after { display: table; content: ""; }
.clearfix:after { clear: both; }


  /* Index page */
  .page_index .header { background:none; }

  .page_index .content { margin:0; }
  .page_index .content > .wrapper {padding:2em 3%;background-color:#efeeec;background-color:rgba(255,255,255,.81);border-top:3px solid #ed1b24;box-sizing:border-box;}
  
  .page_index .index_main { float:left; width:58%; }
  .page_index .index_side { float:right; width:37.3%; }
  
  .content > .wrapper > .page_index_title { display:none; text-align:center; }
  .page_index_title { margin-bottom:1em; color:#563c32; font-size:30px; font-size:3rem; line-height:1; text-transform:uppercase; font-family: 'Oswald', Arial, Helvetica, sans-serif; }
  
  .page_index .index_main p { margin-bottom:2em; color:#563c32; font-size:14px; font-size:1.4rem; font-weight:500; line-height:1.7; }
  .page_index .index_main p:last-child { margin-bottom:0; }
  
  .page_index .index_side .order_button { margin-bottom:1.2em; }
  .page_index .index_side .order_button a { display:block; padding:.45em .1em; color:#fff; font-size:35px; font-size:3.5rem; text-transform:uppercase; font-weight:700; text-decoration:none; text-align:center; text-shadow:0 0 5px #000; font-family: 'Oswald', Arial, Helvetica, sans-serif; background-color:#ed1b24; }
  .page_index .index_side .order_button a:hover { color:#fce620;}
  
  .page_index .index_side .banners .banner_full { margin-bottom:1em; text-align:center; }
  .page_index .index_side .banners .banner_full img { display:block; }
  .page_index .index_side .banners .banner_images { margin-bottom:1em; text-align:center; }
  .page_index .index_side .banners .banner_images img { float:right; max-width:50%; }
  .page_index .index_side .banners .banner_images img:first-child { float:left; }
  
  .page_index .index_side .info_block { margin:0; }


  /* Store page */

  .left_side {
    width: 5%;
    margin: 5px;

    float: left;
  }

  .left_side .categories {
    float: left;

  }

  /* .left_side .categories {
    position: -webkit-sticky;
    position: fixed;
    top: 10;
    background: yellow;
    float: left;
  } */