<div class="content clearfix">
  <div class="wrapper">
    <div class="container">
      <h1>Customer Address</h1>
      <p></p>
      <hr />

      <label for="name"><b>Name</b></label>
      <input
        type="text"
        placeholder="Enter Name"
        name="name"
        id="name"
        required
      />
      <label for="surname"><b>Surname</b></label>
      <input
        type="text"
        placeholder="Enter Surname"
        name="surname"
        id="surname"
        required
      />

      <label for="address1"><b>Address line 1</b></label>
      <input
        type="address"
        placeholder=""
        name="address1"
        id="address1"
        required
      />

      <label for="City/Town"><b>City/Town</b></label>
      <input type="town" placeholder="" name="town" id="town" required />
      <hr />

      <label for="postcode"><b>Postcode</b></label>
      <input
        type="postcode"
        placeholder=""
        name="postcode"
        id="postcode"
        required
      />
      <hr />

      <label for="phone"><b>Phone</b></label>
      <input type="phone" placeholder="" name="phone" id="phone" required />
      <hr />
      <label for="email"><b>Email</b></label>
      <input type="email" placeholder="" name="email" id="email" required />
      <hr />

      <p>
        By creating an account you agree to our <a href="#">Terms & Privacy</a>.
      </p>
      <button type="submit" class="registerbtn">Save</button>
    </div>

    <div class="container signin">
      <p>Already have an account? <a href="login">Sign in</a>.</p>
    </div>
  </div>
</div>
