<div class="content clearfix">
  <div class="wrapper">
    <div class="index_side">
      <div class="order_button">
        <a href="/store">Online Takeaway</a>
      </div>
      <div class="banners">
        <div class="banner_full">
          <a
            href="https://ratings.food.gov.uk/business/en-GB/467716/Bridge-cafe-Borough-Road"
          >
            <img
              src="Images/fhrs_4_en-gb.jfif"
              alt="rated 5 for food hygiene"
              width="330"
          /></a>
        </div>
      </div>
      <div style="color: black">
        <strong>Bridge Cafe</strong>
        <p>
          Call to make an order or click Online takeaway. Shop phone number: 123
        </p>
        <strong>Opening times:</strong>
        <p>Monday times:</p>
        <p>Tuesday times:</p>
        <p>Wednesday times:</p>
        <p>Thursday times:</p>
        <p>Friday times:</p>
        <p>Saturday times:</p>
        <p>Sunday times:</p>
      </div>
    </div>
    <div class="index_main">
      <h2 class="page_index_title">Bridges Kebab</h2>
      <p>
        Bridge Kebab online local store that provides takeaway at the comfort of
        your home, <strong>please click Order Online</strong> to go to store
        page.
      </p>

      <p>
        This is the beginning of a new process into how we do business. We have
        decided to build this website to let customers who are willing to make
        online purchases.
      </p>

      <p>
        There may be some bugs and issues please contact us here and we will do
        our best to fix it.
      </p>
    </div>
  </div>
</div>
