<div class="content clearfix">
  <div class="wrapper">
    <div class="index_side">
      <div class="order_button">
        <a href="/store">Order Online</a>
      </div>
      <div class="banners">
        <div class="banner_full">
          <img src="Images/10148997.png" alt="rated 5 for food hygiene">

        </div>
      </div>
    </div>
    <div class="index_main">
      <h2 class="page_index_title">Bridge Cafe</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vitae mauris risus. Mauris pharetra
        ultricies ipsum, vel posuere sem blandit ut. Praesent libero enim, sodales vitae mauris ut, eleifend suscipit
        lorem. Vivamus lorem est, tincidunt id dui eu, dignissim congue mauris. Mauris gravida, lectus non dapibus
        iaculis, magna est laoreet urna, sit amet ultrices lectus velit id diam. Curabitur blandit leo ac porttitor
        convallis. Praesent sed porttitor est, non elementum nunc. Duis sapien leo, finibus ut efficitur quis, euismod
        in
        lig</p>
    </div>
  </div>
</div>
